.pfp {
  /* fix later */
  height: 50px;
  float: left;
  transform: scale(2);
}
.username {
  font-size: 1.01rem !important;
}
.crownsbar {
  position: absolute;
  right: 0;
  padding-right: 20px;
  color: #00ff91 !important;
}
.itemImage > img {
  padding: 50px;
}
.siteLogo > img {
  padding: 10px;
}

.searchBar > .v-input__details {
  display: none;
}

.searchBar {
  margin-bottom: 5px;
}

.siteLogo {
  background: white;
  border-radius: 5px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.realbtn {
  position: absolute !important;
  bottom: 8px;
  right: 8px;
}

.fakebtn {
  opacity: 0 !important;
}

.avatarImage > img {
  padding: 25px;
}

.chiparea {
  position: absolute;
  top: 10px;
  right: 10px;
}

.playerbg {
  background: url("loading.png") center center no-repeat;
}

.chiparea-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.spacechip {
  margin-right: 5px;
}
.spacechip {
  margin-left: 5px;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  opacity: 0;
  transition: 0.5s opacity linear;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.topmargin {
  margin-top: 10px;
}

.gamePlayers {
  position: absolute;
  right: 0;
  padding-right: 35px;
  color: #00ff91 !important;
}

.playerstext {
  color: white !important;
  font-size: 10px;
  position: absolute;
  right: 0;
  padding-right: 16px;
  margin-top: -10px;
}

.previewP {
  padding-right: 76px;
}

.preview {
  padding-right: 50px;
  margin-top: -6.5px;
  line-height: 15px;
}
